---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
}

const { variant = "h2", data, id, filePath } = Astro.props;

const { title, pubDatetime, modDatetime, timezone: postTimezone } = data;

const isModified = modDatetime && modDatetime > pubDatetime;
const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
  postTimezone || SITE.timezone
);
const date = datetime.format("D MMM, YYYY");
---

<li class="my-1">
  <a
    href={getPath(id, filePath)}
    class="hover:underline"
  >
    <span class="opacity-60">{date}</span> — {title}
  </a>
</li>
