---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <main id="main-content" class="mx-auto w-full max-w-app px-4 pb-12 mt-8">
    <section id="about" class="app-prose prose-img:border-0">
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
